body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #d40000;
}

fieldset {
    border: 2px solid #d40000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #d40000;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #d40000;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    outline: none;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder,
select::placeholder {
    color: #999;
}

button {
    padding: 10px 20px;
    background-color: #d40000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff3333;
}
