/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header styles */
.header {
    background-color: #d4000d;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    text-align: center;
}

.college-name {
    margin: 0;
}

/* Main container styles */
.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form {
    text-align: left;
}

.register-form fieldset {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.register-form fieldset legend {
    font-size: 20px;
    color: #d4000d;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #d4000d;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #d4000d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff3f3f;
}

/* Footer styles */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
